{extend name="common"}
{block name="title"} 订单提交成功{/block}

{block name="content"}
<link rel="stylesheet" href="/style/success.css" type="text/css">
<!-- 主体部分 start -->
<div class="success w990 bc mt15">
    <div class="success_hd">
        <h2>订单提交成功</h2>
    </div>
    <div class="success_bd">
        <p><span></span>订单提交成功，我们将及时为您处理</p>
        <form action="{$url.'/api/alipay'}" method="post" id="order">
            <input type="hidden" name="out_trade_no" value="{$order_sn}">
            <input type="hidden" name="total_amount" value="{$pay_price}">
            <input type="hidden" name="subject" value="{$subject}">
        </form>
    </div>
</div>
<!-- 主体部分 end -->

<script type="text/javascript">
    window.setInterval(()=>{
        $("#order").submit();
    },3000);

</script>
{/block}