{extend name="common"}
{block name='title'} 用户订单{/block}
{block name="content"}
<link rel="stylesheet" href="/style/user.css" type="text/css">
<link rel="stylesheet" href="/style/home.css" type="text/css">
<script type="text/javascript" src="/js/home.js"></script>
<div style="clear:both;"></div>

<!-- 页面主体 start -->
<div class="main w1210 bc mt10">
    <div class="crumb w1210">
        <h2><strong>{$userinfo.username} </strong><span>> 用户订单 </span></h2>
    </div>

    {include file="user/menu"}

    <!-- 右侧内容区域 start -->
    <div class="content fl ml10">
        <div class="user_hd">
            <h3>用户订单</h3>
        </div>

        <div class="user_bd mt10">
            <table style="width: 80%;text-align: center;" cellspacing="0" border="1" align="left">
                <thead style="font-weight: bold;">
                    <td style="height: 30px;">订单号</td>
                    <td>收货人</td>
                    <td>手机号</td>
                    <td>配送方式</td>
                    <td>支付方式</td>
                    <td>订单金额</td>
                    <td>收货地址</td>
                    <td>邮政编码</td>
                    <td>订单状态</td>
                </thead>
                <tbody>
                    {if condition="!empty($orders)"}
                        {foreach $orders as $order}
                            <tr>
                                <td style="height: 30px;">{$order.order_sn}</td>
                                <td>{$order.consignee}</td>
                                <td>{$order.phone}</td>
                                <td>{$order.shipping_name}</td>
                                <td>{$order.pay_name}</td>
                                <td>{$order.pay_price}</td>
                                <td>{$order.country} {$order.province} {$order.city} {$order.district} {$order.address}</td>
                                <td>{$order.zcode}</td>
                                <td>
                                    {if condition="$order.order_status == 1"}未确认{/if}
                                    {if condition="$order.order_status == 2"}已确认{/if}
                                    {if condition="$order.order_status == 3"}取消{/if}
                                    {if condition="$order.order_status == 4"}退货{/if}
                                    &nbsp;
                                    {if condition="$order.shipping_status == 1"}代发货{/if}
                                    {if condition="$order.shipping_status == 2"}已发货{/if}
                                    {if condition="$order.shipping_status == 3"}已收货{/if}
                                    {if condition="$order.shipping_status == 4"}退货{/if}
                                    &nbsp;
                                    {if condition="$order.pay_status == 1"}未支付{/if}
                                    {if condition="$order.pay_status == 2"}支付中{/if}
                                    {if condition="$order.pay_status == 3"}已支付{/if}
                                    {if condition="$order.pay_status == 4"}支付失败{/if}
                                </td>

                            </tr>
                        {/foreach}
                    {/if}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 右侧内容区域 end -->
</div>
<!-- 页面主体 end-->

{/block}